In [43]:
##############################################question1
# sorting the list
ages = [19,22,19,24,20,25,26,25,24]
ages.sort()
print("sorted list is : ",end="") #sorting the list
print(ages)
print("Max age is : ",end="") #finding the max age
print(max(ages))
print("Min age  is : ",end="") #finding the min age
print(min(ages))
ages.extend([min(ages)]) # adding min age in list 
print("after the adding of the min age again to the list : ",end="")
print(ages)
ages.extend([max(ages)])  # adding max age in list
print("after the adding of the max age again to the list : ",end="")
print(ages)
import statistics  # Find the median age (one middle item or two middle items divided by two)
print("Median of 19,22,19,24,25,26,25,24  is : ",end="")
print(statistics.median([19,22,19,24,20,25,26,25,24]))
# Find the average age (sum of all items divided by their number)
def Average(ages):
    return sum(ages) / len(ages)
ages = [19,22,19,24,20,25,26,25,24]
average = Average(ages)
print("Average  age =", round(average, 2))
#Find the range of the ages (max minus min)
ages = [19,22,19,24,20,25,26,25,24]
max_val = max(ages)
min_val = min(ages)
range_ = max_val - min_val
print("range of ages   : ",end="")
print(range_)

sorted list is : [19, 19, 20, 22, 24, 24, 25, 25, 26]
Max age is : 26
Min age  is : 19
after the adding of the min age again to the list : [19, 19, 20, 22, 24, 24, 25, 25, 26, 19]
after the adding of the max age again to the list : [19, 19, 20, 22, 24, 24, 25, 25, 26, 19, 26]
Median of 19,22,19,24,25,26,25,24  is : 24
Average  age = 22.67
range of ages   : 7

In [48]:
#question 2
dog = {}
dog["name"] = "triksy"
dog["colour"] = "brown"
dog["breed"] = "golden retriever"
dog["legs"] = "four"
dog["age"]= "seven year"
print(dog)
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}


student = {"first_name":"nani",
           "last_name":"pinnamaneni",
           "gender":"male",
           "age":"23",
           "marital status":"single",
           "skills":"AutoCAD",
           "country":"india",
           "city":"vijayawada",
           "adress":"#321 st"}
print(student)
p=len(student)
print(p)
print(student["skills"])
print(type(student["skills"]))
student["skills"]="AutoCad,python"
print(student)
keyslist =(student.keys())
print(keyslist)
keyslist = (student.values())
print(keyslist)

{'name': 'triksy', 'colour': 'brown', 'breed': 'golden retriever', 'legs': 'four', 'age': 'seven year'}
{'first_name': 'nani', 'last_name': 'pinnamaneni', 'gender': 'male', 'age': '23', 'marital status': 'single', 'skills': 'AutoCAD', 'country': 'india', 'city': 'vijayawada', 'adress': '#321 st'}
9
AutoCAD
<class 'str'>
{'first_name': 'nani', 'last_name': 'pinnamaneni', 'gender': 'male', 'age': '23', 'marital status': 'single', 'skills': 'AutoCad,python', 'country': 'india', 'city': 'vijayawada', 'adress': '#321 st'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'adress'])
dict_values(['nani', 'pinnamaneni', 'male', '23', 'single', 'AutoCad,python', 'india', 'vijayawada', '#321 st'])

In [45]:
############ Q3
##Create a tuple containing names of your sisters and your brothers
brothers_tuple = ('nithin','manoj')
sisters_tuple  = ('priyanka','chinni')
siblings = brothers_tuple + sisters_tuple
print(siblings)
x = len(siblings)
print( "no. of siblings  =", x )
family_members = siblings + ('ram','chandrasena')
print(family_members)

('nithin', 'manoj', 'priyanka', 'chinni')
no. of siblings  = 4
('nithin', 'manoj', 'priyanka', 'chinni', 'ram', 'chandrasena')

In [46]:
######Q4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple','IBM', 'Oracle','Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("The length of set is:", len(it_companies))
company = ('twitter')
it_companies.add(company)
print(it_companies)
multiple_companies = {'TCS','DELOITTE'}
it_companies.update(multiple_companies)
print(it_companies)
it_companies.remove('Amazon') 
print(it_companies)
#   remove() method will raise an error if the specified item does not exist, and the discard() method will not.
#Join A and B
C = A.union(B)
print(C)
#Find A intersection B
print(A.intersection(B))
#Is A subset of B
print(A.issubset(B))
#Are A and B disjoint sets
print(A.isdisjoint(B))
#Join A with B and B with A
A.update(B) #A with B
print(A)
B.update(A)  #B with A
print(B)
#What is the symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
symmetry = A.symmetric_difference(B)
print('The symmetry between A and B is=', symmetry)
###Delete the sets completely
A.clear()
print(A)
B.clear()
print(B)

The length of set is: 7
{'Apple', 'Microsoft', 'Google', 'Amazon', 'twitter', 'Facebook', 'Oracle', 'IBM'}
{'Apple', 'DELOITTE', 'Facebook', 'IBM', 'Microsoft', 'Google', 'Amazon', 'TCS', 'twitter', 'Oracle'}
{'Apple', 'DELOITTE', 'Facebook', 'IBM', 'Microsoft', 'Google', 'TCS', 'twitter', 'Oracle'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
The symmetry between A and B is= {27, 28}
set()
set()

In [25]:
#########Q5
PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
diameter = 2 * radius
circumference = 2 * PI * radius
area = PI * radius * radius
print("_circum_of_circle_ = %.2f" %circumference)
print("_area_of_circle_= %.2f" %area)

 Please Enter the radius of a circle: 10
_circum_of_circle_ = 62.80
_area_of_circle_= 314.00

In [26]:
###########Q6
a = input("Please enter a sentence: ")
unique = set(a.split(' '))
b = len(unique)
print("the no of unique words used in this sentense: ",b)

Please enter a sentence: I am a teacher and I love to inspire and teach people
the no of unique words used in this sentense:  10

In [27]:
#############Q7
a = ('Name    \tAge\tCountry  \tCity')
b = ('Asabench\t250\tFinlnd   \tHelsink')
print(a) 
print(b)

Name    	Age	Country  	City
Asabench	250	Finlnd   	Helsink

In [28]:
#############Q8
radius = 10
area = 3.14 * radius * radius
print(f'The area of the circle with radius 10 is {area:.3f}')

The area of the circle with radius 10 is 314.000

In [49]:
##############Q9
# number of students
n = int(input("Enter number of students : "))
# this line read inputs from user using map() functio
a = list(map(int,input("\nEnter weights of students : ").strip().split()))[:n]
print("\nL1 : ", a)
b=[i/2.2048364154 for i in a]
b=['%.2f' % elem for elem in b]
print(b)

Enter number of students : 4

Enter weights of students : 150 155 145 148

L1 :  [150, 155, 145, 148]
['68.03', '70.30', '65.76', '67.13']

value1
value4
Asabeneh
Finland
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
JavaScript
Space street

KeyError: 'city'